

header{
	background-color: #000000;
	color: #B4DBDB;
	margin-bottom: 5%;
}

body{
	background-color: #606B6E;
}

p{
	font-size: 50px;
	font-weight: bold;

}
.text1{
	padding-top:1%;
	padding-right: 10%;
}
.text2{
	padding-left: 20%;
	margin-bottom : 1%;
}

a{
	color:black;
}

a:hover{
	text-decoration: none;
	color:white;
}

button {
	font-size: 25px;
	padding: 0.5%;
	margin: 2%;
	border-radius:25px 25px;
	background-color: #A1B1C4;
	z-index: -1;
	margin-left:10%;
}	

